<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy ticket</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Mono|Sansita+One|Fira+Sans&display=swap">
</head>
<body class="user-pages buy-page">
    <p>You are about to score some tickets to</p>
    <section class="buy-information">
        <h1 class="buy-name">
            <!-- Event name -->
            <!-- generated in buy.js -->
        </h1>
        <h2 class="buy-date-time">
            <!-- Date+time -->
            <!-- generated in buy.js -->
        </h2>
        <p class="buy-location">
            <!-- Location -->
            <!-- generated in buy.js -->
        </p>
    </section>
    <p class="buy-price">
        <!-- Price -->
        <!-- generated in buy.js -->
    </p>
    <button>Beställ</button>
    <script type="module" src="buy.js"></script>

</body>
</html>