<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create event</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Mono|Sansita+One|Fira+Sans&display=swap">
</head>

<body class="create-page display-none">
    <img src="./images/logo-colour.png" alt="Logo of Where It's At">
    <div class="grid-form-wrapper">
        <section class="events-grid">
            <h2 class="grid-labels">NAMN</h2>
            <h2 class="grid-labels">VAR</h2>
            <h2 class="grid-labels">ANTAL PLATSER</h2>
            <h2 class="grid-labels">SÅLDA BILJETTER</h2>
            <!-- create.js -->
        </section>
        <section class="create-form">
            <h1>Add event</h1>
            <input type="text" placeholder="Name" class="name-input" id="name-input">
            <input type="text" placeholder="Where" class="where-input" id="where-input">
            <input type="text" placeholder="Date (ex. 5 APR)" class="date-input" id="date-input">
            <div>
                <input type="text" placeholder="From Time (hh:mm)" class="from-input" id="from-input">
                <input type="text" placeholder="To Time (hh:mm)" class="to-input" id="to-input">
                <input type="text" placeholder="Ticket Amount" class="tickets-input" id="tickets-input">
                <input type="text" placeholder="Price" class="price-input" id="price-input">
            </div>
            <button class="add-event-button">
                <p>Add the event</p>
            </button>
        </section>
    </div>
    <script type="module" src="create.js"></script>

</body>

</html>