<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create event</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Mono|Sansita+One|Fira+Sans&display=swap">
</head>
<body class="create-page">
    <img src="./images/logo-colour.png" alt="Logo of Where It's At">
    <section class="events-grid">
        <!-- create.js -->
    </section>
    <section class="create-form">
        <h1>Add event</h1>
        <input type="text" placeholder="Name"class="name-input">
        <input type="text" placeholder="Where" class="where-input">
        <input type="text" placeholder="Date"class="date-input">
        <div>
            <input type="text" placeholder="From Time" class="from-input">
            <input type="text" placeholder="To Time" class="to-input">
            <input type="text" placeholder="Ticket Amount" class="tickets-input">
            <input type="text" placeholder="Price" class="price-input">
        </div>
    </section>
    <script src="create.js"></script>

</body>
</html>