* {
    box-sizing: border-box;
}

h1 {
    font-family: Sansita One;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #F56B9A;
}

.index-page h1 {
    position: absolute;
    top: 10px;
}

.buy-page h1 {
    font-size: 35px;
}

.buy-page h2 {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    color: #37AEAB;
}

.buy-page p:first-child {
    width: 65%;
    font-family: Fira Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.event-information {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.event-information * {
    margin: 5px;
    text-align: center;
}

.event-information p {
    font-family: Fira Sans;
    font-style: italic;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
}

.buy-page .price-p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px #F56B9A;
}

body.user-pages {
    background: #231F42;
}

body.ticket-page {
    height: 100vh;
    background-image: linear-gradient(#F56B9A 5%, #231F42 40%);
}

body.staff-pages {
    background: #F39440;
}

body.user-pages, body.staff-pages {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.staff-pages .logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.staff-pages .logo-wrapper img {
    width: 100px;
    height: 90px;
}

.staff-pages h1 {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
}

.staff-pages h2  {
    margin: 10px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.3em;
    color: rgba(0, 0, 0, 0.8);
}

.staff-pages input {
    width: 310px;
    height: 63px;
    border: 2px solid #231F42;
    border-radius: 3px;
    font-family: Fira Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3em;
    color: #090911;
    background: #F39440;
}

.staff-pages input::placeholder {
    color: black;
}

.buy-page button {
    width: 310px;
    height: 60px;
    background: #37AEAB;
    border-radius: 3px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #FFFFFF;
}

.staff-pages button {
    width: 310px;
    height: 60px;
    left: 32px;
    top: 555px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    border-radius: 0px 0px 3px 3px;
    background: #231F42;
    color: #FFFFFF;
}

button.login-page {
    margin-top: 30px;
}

button.verify-page {
    margin-top: -2px;
}

.button-wrapper {
    margin-bottom: 110px;
}

.button-wrapper input {
    height: 85px;
    font-size: 23px;
}

.button-wrapper button {
    border: 2px solid #231F42;
}

.ticket-container {
    display: flex;
    flex-direction: column;
    width: 311px;
    height: 450px;
    background: #FFFFFF;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.34);
    border-radius: 3px;
}

.ticket-container section p {
    margin-left: 15px;
}

.ticket-container section p:last-child {
    margin-top: 0;
}

.ticket-label-p {
    font-family: "Fira Sans";
    font-weight: bold;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.4);
}

.ticket-container #what {
    height: 84px;
    font-family: Sansita One;
    font-size: 26px;
    color: #F56B9A;
}

.ticket-container #where {
    height: 120px;
    background: rgba(0, 0, 0, 0.03);
    border-top: 1px dashed rgba(0, 0, 0, 0.4);;
}

#where p:last-child {
    font-family: Fira Sans;
    font-weight: 600;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
}

.ticket-container .when-from-to {
    display: flex;
    justify-content: space-evenly;
    height: 66px;
    background: rgba(0, 0, 0, 0.06);
}

.when-from-to section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 33%;
    border: 1px dashed rgba(0, 0, 0, 0.4);
}

.when-from-to p {
    margin: 0;
    padding: 0;
}

.when-from-to section:first-child {
    border-left: 0;
    border-right: 0;
}

.when-from-to section:last-child {
    border-left: 0;
    border-right: 0;
}

.when-from-to p:last-child {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
}

.ticket-container #barcode-img {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 180px;
    background: rgba(0, 0, 0, 0.12);
}

#barcode-img p {
    margin-left: 0;
    font-family: Fira Sans;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.3em;

    color: rgba(0, 0, 0, 0.4);
}

#barcode-img img {
    height: 60px;
    width: 50%;
}

