<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your ticket</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Mono|Sansita+One|Fira+Sans&display=swap">
</head>
<body class="user-pages ticket-page">
    <section class="ticket-container">
        <section id="what">
            <p class="ticket-label-p">WHAT</p>
            <p id="what-p"> 
                Lasse-Stefanz
                <!-- ticket.js  -->
            </p>
        </section>
        <section id="where">
            <p class="ticket-label-p">WHERE</p>
            <p id="where-p">
                Kjell Härnqvistsalen 
                <!-- ticket.js  -->
            </p>
        </section>
        <section class="when-from-to">
            <section id="when">
                <p class="ticket-label-p">WHEN</p>
                <p id="when-p"> 
                    June 6
                    <!-- ticket.js  -->
                </p>
            </section>
            <section id="from">
                <p class="ticket-label-p">FROM</p>
                <p id="from-p"> 
                    0800
                    <!-- ticket.js  -->
                </p>
            </section>
            <section id="to">
                <p class="ticket-label-p">TO</p>
                <p id="to-p"> 
                    2100
                    <!-- ticket.js  -->
                </p>
            </section>
        </section>
        <section id="barcode-img">
            <img src="./images/A2ED7barcode.png" alt="">
            <p>
                Test test 2931903
                <!-- Ticket number -->
                <!-- generated in ticket.js -->
            </p>
        </section>
    </section>

    <script src="ticket.js"></script>

</body>
</html>